$bg-color: #f5f5f5;

@mixin utils-user-select($value) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
}

body {
  background-color: $bg-color !important;
  @include utils-user-select(none);
}
